@font-face {
    font-family: PatuaOne;
    src: url(./PatuaOne-Regular.ttf) format("truetype");
}
@font-face {
    font-family: Archivo;
    src: url(./ArchivoBlack-Regular.ttf) format("truetype");
}
@font-face {
    font-family: Dancing;
    src: url(./DancingScript-Regular.ttf) format("truetype");
}
@font-face {
    font-family: Sacramento;
    src: url(./Sacramento-Regular.ttf) format("truetype");
}
@font-face {
    font-family: Alice;
    src: url(./Alice-Regular.ttf) format("truetype");
}