<footer class="docs-footer dark-bg">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">
        <img class="docs-footer-angular-logo"
             src="/assets/imgs/elite_128x128.png"
             alt="Angular icon">
        <span class="white">Elite Security</span>
      </div>
    </div>

    <div class="docs-footer-copyright">
      <div class="white">
        <span>Created By <a href="https://hire.wesley-young.com" target="_blank">Wesley Young</a> ©2021</span>
      </div>
    </div>
  </div>
</footer>
