.hook-title {
  font-weight: 500;
  font-family: AtlasGroteskWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 750px;
  color: white;
}

.info-card > .mat-card-header {
  text-align: left !important;
}

.info-title {
  font-weight: 200;
}

.tile-title {
  font-size: 34px;
  font-weight: 400;
}

.tile-text {
  font-size: 18px;
  color: grey;
}

.tile-cta {
  height: 50px;
  font-size: 16px;
  border-radius: 0 !important;
}

.contact-form-btn {
  margin-top: 35px;
  height: 50px;
  font-size: 18px;
  width: 200px;
}

.testimonial-text {
  font-size: 1.5em;
  font-style: italic;
}

.testimonial-name {
  font-weight: 100;
}

.contact-us-btn {
  background-color: transparent;
  border: solid white 2px;
  color: white;
}
