<div>
  <div class="banner-container">
    <div class="" style="height: 750px; position: relative;">
      <div class="inner-banner-container">
        <h1 class="white hook-title mat-display-3 mb-3">
          Providing our community with peace of mind for over 20 years
        </h1>
        <br>
        <!--          <p class="banner-contact">-->
        <!--            435.656.0685-->
        <!--          </p>-->
        <button mat-raised-button color="accent" class="loud-btn mx-1">
          GET A FREE QUOTE
        </button>
        <button mat-raised-button class="loud-btn contact-us-btn mx-1">CONTACT US</button>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 6rem; margin-bottom: 2em">
    <div class="content white-bg">
      <mat-grid-list cols="12" rowHeight="100px" style="overflow-x: visible" gutterSize="0">
        <mat-grid-tile [colspan]="isMobile ? 12 : 4" rowspan="2">
          <mat-card class="info-card">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon aria-hidden="false" aria-label="tv">tv</mat-icon>
              </div>
              <mat-card-title>Automation Friendly</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Do you own a Control4, Crestron, or any other smart home system? Elite has been working
                with
                home automation dealers for decades and can integrate with almost any system
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="isMobile ? 12 : 4" rowspan="2">
          <mat-card class="info-card">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon aria-hidden="false" aria-label="house">house</mat-icon>
              </div>
              <mat-card-title>No Compromises</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                High-end commercial and residential is our specialty, we'll work with you and your
                designer
                to make sure our system won't be an eye sore
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="isMobile ? 12 : 4" rowspan="2">
          <mat-card class="info-card">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon aria-hidden="false" aria-label="security">security</mat-icon>
              </div>
              <mat-card-title>Always Watching</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Our 24/7 active monitoring service is instantly alerted to a break-in or fire and will
                notify
                authorities within seconds
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>

<mat-divider class="my-5">
</mat-divider>

<div class="container">
  <mat-card class="text-center py-5 px-5 mat-elevation-z0">
    <mat-card-title>
      <h4 class="primary mb-1">WHO WE ARE</h4>
      <h1 class="info-title">The First Line of Defense</h1>
    </mat-card-title>
    <mat-card-content>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <h1 class="sacramento">Jim Jennings</h1>
      <span class="grey">Jim Jennings - Founder</span>
    </mat-card-content>
  </mat-card>
</div>

<mat-divider class="mt-5">
</mat-divider>

<div class="" style="background-image: url(../../assets/imgs/banner.jpg); background-size: cover;">
  <div class="container">
    <mat-grid-list cols="8" rowHeight="600px" gutterSize="0">
      <mat-grid-tile [colspan]="8" class="bg-frosted">
        <div class="left-align px-5" style="max-width: 800px;">
          <h4 class="warn">NO BETTER CHOICE</h4>
          <h1 class="tile-title">Southern Utah's premier security experts</h1>
          <p class="">
            Elite Security has been protecting the Saint George area for over 20 years. In that time
            we've become our
            region's top experts in keeping your home and business safe with the most advanced
            technology available.
          </p>
          <button mat-raised-button color="warn" class="tile-cta">GET A FREE QUOTE</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div class="dark-bg">
  <div class="container text-center">
    <mat-grid-list cols="1" rowHeight="420px" gutterSize="0">
      <mat-grid-tile colspan="1">
        <div class="w-padding">
          <p class="white alice testimonial-text">
            "Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
            type and scrambled it to make a type specimen book."
          </p>
          <h3 class="white testimonial-name">- John Doe</h3>
          <span class="grey">An Elite Customer</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div class="container px-5 py-5">
  <mat-card class="px-5 py-5">
    <mat-card-title>
      <h1 class="mat-display-2">Contact Us</h1>
    </mat-card-title>
    <mat-card-content>
      <form>
        <mat-grid-list cols="6" rowHeight="64px" gutterSize="15px">
          <mat-grid-tile [colspan]="isMobile ? 6 : 4" rowspan="1">
            <mat-form-field class="full-width">
              <input matInput placeholder="Name">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="isMobile ? 6 : 2" rowspan="1">
            <mat-form-field class="full-width">
              <mat-label>Subject</mat-label>
              <select matNativeControl>
                <option value="new_activation">Activate an existing system</option>
                <option value="billing">Billing</option>
                <option value="repairs">Repairs</option>
                <option value="how_does_my_alarm_work">How does my alarm work?</option>
                <option value="moving">Moving</option>
                <option value="sales">New installation/sales</option>
                <option value="support">Technical support</option>
                <option value="upgrade">System upgrade</option>
                <option value="other">Other</option>
              </select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="isMobile ? 6 : 6" rowspan="1">
            <mat-form-field class="full-width">
              <input matInput placeholder="Address">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="isMobile ? 6 : 2" rowspan="1">
            <mat-form-field class="full-width">
              <input matInput placeholder="City">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="isMobile ? 6 : 2" rowspan="1">
            <mat-form-field class="full-width">
              <input matInput placeholder="State">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="isMobile ? 6 : 2" rowspan="1">
            <mat-form-field class="full-width">
              <input matInput #postalCode maxlength="5" placeholder="Zip Code">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="isMobile ? 6 : 3" rowspan="1">
            <mat-form-field class="full-width">
              <input matInput placeholder="Phone">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="isMobile ? 6 : 3" rowspan="1">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Message"></textarea>
          </mat-form-field>
        </p>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" class="contact-form-btn">SUBMIT</button>
    </mat-card-actions>
  </mat-card>
</div>
