
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "assets/scss/layout";
@import '~@angular/material/theming';
@include mat-core();

/*$accent-color: #81c784;*/
$soft-dark: #212121;
$med-dark: rgb(20, 20, 20);

$primary-color: #cc333f;
$primary-txt-color: #F7F7F7;

$accent-color: #EDC951;
$accent-txt-color: #212121;

$warn-color: #cc333f;
$warn-txt-color: #FFFFFF;

$pop-color: #EDC951;

$pro-primary: (
    50: $primary-color,
    100: $primary-color,
    200: $primary-color,
    300: $primary-color,
    400: $primary-color,
    500: $primary-color,
    600: $primary-color,
    700: $primary-color,
    800: $primary-color,
    900: $primary-color,
    A100: $primary-color,
    A200: $primary-color,
    A400: $primary-color,
    A700: $primary-color,
    contrast: (
      50: $primary-txt-color,
      100: $primary-txt-color,
      200: $primary-txt-color,
      300: $primary-txt-color,
      400: $primary-txt-color,
      500: $primary-txt-color,
      600: $primary-txt-color,
      700: $primary-txt-color,
      800: $primary-txt-color,
      900: $primary-txt-color,
      A100: $primary-txt-color,
      A200: $primary-txt-color,
      A400: $primary-txt-color,
      A700: $primary-txt-color,
    )
  );
$pro-accent: (
  50: $accent-color,
    100: $accent-color,
    200: $accent-color,
    300: $accent-color,
    400: $accent-color,
    500: $accent-color,
    600: $accent-color,
    700: $accent-color,
    800: $accent-color,
    900: $accent-color,
    A100: $accent-color,
    A200: $accent-color,
    A400: $accent-color,
    A700: $accent-color,
    contrast: (
      50: $accent-txt-color,
      100: $accent-txt-color,
      200: $accent-txt-color,
      300: $accent-txt-color,
      400: $accent-txt-color,
      500: $accent-txt-color,
      600: $accent-txt-color,
      700: $accent-txt-color,
      800: $accent-txt-color,
      900: $accent-txt-color,
      A100: $accent-txt-color,
      A200: $accent-txt-color,
      A400: $accent-txt-color,
      A700: $accent-txt-color,
    )
  );
  $pro-warn: (
    50: $warn-color,
    100: $warn-color,
    200: $warn-color,
    300: $warn-color,
    400: $warn-color,
    500: $warn-color,
    600: $warn-color,
    700: $warn-color,
    800: $warn-color,
    900: $warn-color,
    A100: $warn-color,
    A200: $warn-color,
    A400: $warn-color,
    A700: $warn-color,
    contrast: (
      50: $warn-txt-color,
      100: $warn-txt-color,
      200: $warn-txt-color,
      300: $warn-txt-color,
      400: $warn-txt-color,
      500: $warn-txt-color,
      600: $warn-txt-color,
      700: $warn-txt-color,
      800: $warn-txt-color,
      900: $warn-txt-color,
      A100: $warn-txt-color,
      A200: $warn-txt-color,
      A400: $warn-txt-color,
      A700: $warn-txt-color,
    )
  );
$portfolio-primary: mat-palette($pro-primary);
$portfolio-accent: mat-palette($pro-accent);
$portfolio-warn: mat-palette($pro-warn);

$portfolio-theme: mat-light-theme($portfolio-primary, $portfolio-accent, $portfolio-warn);

@include angular-material-theme($portfolio-theme);

.warn {
  color: $warn-color;
}

.accent {
  color: $accent-color;
}

.primary {
  color: $primary-color;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

.warn-bg {
  background-color: $warn-color;
}

.accent-bg {
  background-color: $accent-color;
}

.primary-bg {
  background-color: $primary-color;
}

.white-bg {
  background-color: white;
}

.light-grey-bg {
  background-color: #F7F7F7;
}

.dark-bg {
  background-color: #212121;
}

.patua {
    font-family: PatuaOne;
}

.archivo {
    font-family: Archivo;
}

.dancing {
  font-family: Dancing;
}

.sacramento {
  font-family: Sacramento;
}

.alice {
  font-family: Alice;
}

.left-align {
  text-align: left;
}

.w-padding {
  padding-left: 28px;
  padding-right: 28px;
}

.content {
    width: 100%;
    align-self: center;
    max-width: 1200px;
    padding-top: 80px;
    display: inline-block;
    text-align: auto;
    overflow: visible;
  }

.small-content {
  width: 100%;
  align-self: center;
  max-width: 800px;
  padding-top: 80px;
  display: inline-block;
  text-align: auto;
  overflow: visible;
}

.small-np-content {
  width: 100%;
  align-self: center;
  max-width: 800px;
  padding-top: 0px;
  display: inline-block;
  text-align: auto;
  overflow: visible;
}

  .nm-content {
    width: 100%;
    align-self: center;
    padding-top: 80px;
    display: inline-block;
    text-align: auto;
    overflow: visible;
  }

  .np-content {
    width: 100%;
    align-self: center;
    max-width: 1200px;
    padding-top: 0px;
    display: inline-block;
    text-align: auto;
    overflow: visible;
  }

  .full-width {
    width: 100%;
}

.banner {
  text-align: left;

}

.inner-banner-container {
  position: absolute;
  max-width: 1300px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - 100px);
}

.banner-container {
  background-color: $primary-color;
  //background-color: $soft-dark;
  //background-image: url(../../assets/imgs/lock-full.jpg);
  //background-size: cover;
  //background-attachment: fixed;
  //background-position-y: center;
}

.banner-grid-container {
  background-color: rgba(0, 0, 0, .5);
}

.banner-contact {
  font-size: 24px;
  color: lightgray;
}



.loud-btn {
  height: 58px;
  font-size: 22px;
  font-weight: 400;
  margin: 5px;
  color: white;
  text-decoration: none;
}



.info-card {
  box-shadow: none !important;
  height: 100%;
  width: 100%;
}

.info-card > .mat-card-content > p {
  text-align: left;
  margin-left: 56px;
  color: darkslategrey;
}

.info-card > .mat-card-header > div > mat-icon {
  height: 40px !important;
  width: 40px !important;
  font-size: 28px !important;
  color: $warn-color;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 50;
}

.footer {
  height: 100px;
  margin-top: 80px;
  background-color: $soft-dark;
}
